#IntelliJ or CLion
.idea
target

# CMake Files
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake-build-debug
DartConfiguration.tcl
Cpp/Cpp
Cpp/Makefile
Cpp/UnitTests
Cpp/cmake_install.cmake
Cpp/*.pc
googletest-build
googletest-download
googletest-src

*.cbp
