#IntelliJ or CLion
.idea
target

# CMake Files
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake-build-debug
DartConfiguration.tcl
Makefile
UnitTests
cmake_install.cmake
*.pc
googletest-build
googletest-download
googletest-src

*.cbp
